@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

@font-face {
    font-family: 'mograch';
    src: url('/fonts/mograch.otf');
}

.logo-text {
    font-family: 'mograch';
    font-size: 2.3rem;
    font-weight: 500;
    cursor: pointer;
    letter-spacing: 2px;
    margin-block: 0;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: 'hidden';
    padding-inline: 20px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.fullscreen-ext {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: 'hidden';
    padding-inline: 20px;
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    margin-bottom: 75px;
}

.index-container {
    overflow: 'hidden';
    padding-inline: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
}

.fullscreen::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.index-container::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}